* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "cabecalho" 
    "principal" 
    "rodape";
}

.cabecalho {
    grid-area: cabecalho;
    background-color: #1867c0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    z-index: 1;

}

.principal {
    grid-area: principal;
    height: calc(100vh - 180px);
    background-color: #f0f0f0;
    padding: 20px;
}

.conteudo {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);


}


.rodape {
    grid-area: rodape;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    padding-right: 20px;
    color: #444;

}

#tabelaempresas>th{
    background-color: #1867c0;
    
}