body.exercicio {
    grid-template-rows: 120px 60px 1fr 60px;
    grid-template-areas: 
    "cabecalho" 
    "navegacao" 
    "principal" 
    "rodape";
}

.principal {
    height: calc(100vh - 240px);
}

.navegacao {
    grid-area: navegacao;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #555;
}

.navegacao > a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #2196f3;
    font-size: 1.3rem;
    font-weight: 300;
}

.navegacao > a.verde{
    background-color: #4caf50;
}

.navegacao > a.novoitem{
    background-color: #115a77;
}

.alinhar{
    text-align: center;
}
